.form.segment {
    overflow: hidden;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
}
ul li {
    color: darkgreen;
    font-size: 16px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid;
}
ul li:last-child {
    border-bottom: none;
}

ul li div {
    max-width: 300px;
    width: 100%;
    text-align: left;
    padding-right: 5px;
}
ul li .user-remove{
    cursor: pointer;
    text-align: right;
    font-size: 10px;
}
ul li .user-remove:hover {
    color: darkred;
    font-size: 14px;
}